#footer
  div
    a#twitter(href='http://twitter.com/primaryobjects', target='_blank') Twitter
    a#googleplus(href='https://plus.google.com/107815270870071104283', target='_blank') Google+

script(src='http://code.jquery.com/ui/1.9.2/jquery-ui.js')
script(src='/scripts/underscore-min.js')
script(src='/scripts/backbone-min.js')
script(src='/scripts/vie-min.js')
script(src='/scripts/jquery.tagsinput.min.js')
script(src='/scripts/jquery.rdfquery.min.js')
script(src='/scripts/annotate-min.js')
script(src='/scripts/rangy-core-1.2.3.js')
script(src='/scripts/hallo-min.js')
script(src='/scripts/aloha/lib/require.js')
script(src='/scripts/aloha/lib/aloha-full.min.js', data-aloha-plugins='common/ui,common/format,common/link,common/image,extra/sourceview')
script(src='/scripts/create-min.js')
script(src='/scripts/contentblocks.js')

link(rel='stylesheet', href='/css/style.css')
link(rel='stylesheet', href='/css/aloha/css/aloha.css')
link(rel='stylesheet', href='/css/aloha/css/aloha-common-extra.css')
link(rel='stylesheet', href='/css/aloha/css/aloha-core.css')
link(rel='stylesheet', href='/css/aloha/css/aloha-reset.css')
link(rel='stylesheet', href='/css/aloha/css/aloha-sidebar.css')
link(rel='stylesheet', href='/css/create-ui/css/create-ui.css')
link(rel='stylesheet', href='/css/midgard-notifications/midgardnotif.css')
