#header
  h1
    a#sitetitle(href='#') ContentBlocks
  ul
    li.current
      a(href='index.html') Home
    li
      a(href='#') About
    li
      a(href='#') Blog
    li
      a(href='#') Help
    li
      a(href='#') Contact
